@import "~assets/components/base";
:host {
  margin-right: 40px;

  &:last-child{
    margin-right: 0;
  }
}
.project {
  text-align: center;
  font-size: 13px;
  &__logo {
    height: 50px;
    width: 50px;
    background: $blue-green;
    background: #30CE9F;
    border-radius: 10px;
    margin-bottom: 4px;
  }

  &__title {
  }

  &__tag{
    color: $blue-green;
  }
}
