@import "~assets/components/base";
:host {
  display: block;
  margin-bottom: 15px;
}

.task{
  display: flex;
  align-items: center;
  font-size: 13px;

  &__progress {
    height: 20px;
    width: 20px;
    border: 1px solid $dark-grey;
    border-radius: 20%;
    margin-right: 12px;
  }

  &__info{
    flex-grow: 2;
  }

}
