@import "~assets/components/base";

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.material-icons {
  color: $blue-green
}

.mat-sidenav-content {
  height: calc(100vh - 5.5rem);
  overflow-y: scroll;
  padding-top: 5.5rem;
  .row {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 2rem;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background: $light-grey;
    box-shadow: $shadow;
    background: linear-gradient(#fff 60%, #f2f2f2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: url("~assets/profileimg.png");
      background-size: contain;
    }
  }

  .search {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    visibility: hidden;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    bottom: -100%;
    width: 100%;
    background: linear-gradient(#fff 60%, #f2f2f2);
    transform: scale(0);
    z-index: 9999;
    box-shadow: $shadow;
    height: 0;

    &.active {
      transform: scale(1);
      height: 4.5rem;
      visibility: visible;
    }
  }
}

.mat-sidenav {
  width: 50%;
  min-width: 200px;
  button {
    width: 100%;
  }
  .profile {
    margin-bottom: 35px;
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(135deg, #30CE9F 25%, rgba(0, 0, 0, 0) 25.1%),
    linear-gradient(225deg, #30CE9F 25%, rgba(0, 0, 0, 0) 25.1%), linear-gradient(315deg, #30CE9F 25%,
                    rgba(0, 0, 0, 0) 25.1%), linear-gradient(45deg, #30CE9F 25%, rgba(0, 0, 0, 0) 25.1%), #ffffff;
    background-size: 56px 28px;
    background-position: -21px 0, -20px 0, 0 0, 0 0;

    &__img {
      border-radius: 50%;
      bottom: -30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      width: 80px;
      height: 80px;
      background-image: url("~assets/profileimg.png");
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      border: 14px solid #fff
    }
  }
}