<mat-sidenav-container
        class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <button mat-button (click)="close('toggle button')">Toggle</button>
        <br>
        <button mat-button (click)="close('toggle button')">Toggle</button>
        <br>
        <button mat-button (click)="close('toggle button')">Toggle</button>
        <br>
        <button mat-button (click)="close('toggle button')">Toggle</button>
        <br>
        <button mat-button (click)="close('toggle button')">Toggle</button>
        <br>
        <button mat-button (click)="close('toggle button')">Toggle</button>
        <br>
    </mat-sidenav>

    <mat-sidenav-content>
        <p>
            <button mat-button (click)="sidenav.open()">Open</button>
        </p>
        <task-dashboard></task-dashboard>
    </mat-sidenav-content>
</mat-sidenav-container>