<mat-sidenav-container
        class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <div class="profile">
            <div class="profile__img"></div>
        </div>
        <button mat-button (click)="sidenav.open()"><i class="material-icons">person_outline</i> My profile</button>
        <br>
        <button mat-button (click)="sidenav.open()"><i class="material-icons">settings</i> Settings</button>
        <br>
        <button mat-button (click)="sidenav.open()"><i class="material-icons">logout</i> Log out</button>
        <br>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="position: relative">
            <div class="row">
                <button class="row__item mdc-icon-button material-icons" (click)="sidenav.open()">
                    <i class="material-icons">sort</i></button>

                <div class="row__item profile"></div>

                <button class="row__item row__item--search mdc-icon-button material-icons"
                        (click)="showSearch = !showSearch">
                    {{ !showSearch ? 'search' : 'close' }}
                </button>
            </div>
            <div class="search" [class.active]="showSearch">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Input" [(ngModel)]="searchInput">
                    </mat-form-field>
                    <button class="mdc-icon-button material-icons"
                            (click)="searchProjects">search
                    </button>
                </div>
            </div>
        </div>

        <task-dashboard></task-dashboard>
    </mat-sidenav-content>
</mat-sidenav-container>

