@import "~assets/components/base";
.container{
  background: $light-grey;
  margin: 0 35px;
  height: fit-content;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 18px 0;
}

.projects-container{
  display: flex;
  justify-content: center;
}

.radio-container{
  display: flex;
  justify-content: center;
}

.input-form__group {
  margin-right: 8px;
  input[type="radio"] {
    display: none;
  }

  label {
    display: inline-block;

    .value {
      padding: 8px 12px;
      border: 1px solid currentColor;
      border-radius: 20px;
      color: $dark-grey
    }
  }

  label input[type="radio"]:checked ~ .value{
    color: #1ebc83;
  }
}

.tasks-container{
  box-sizing: border-box;
}

.tasks-list{
  margin: 0 20px;
  overflow: hidden;

  h2{
    margin-bottom: 16px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

    &:after{
      content: '';
      display: block;
      width: 400px;
      height: 1px;
      position: absolute;
      background-color: aqua;
      top: 50%;
      left: calc(100% + 16px);
    }
  }
}

.btn-add-task {
  position: fixed;
  right: 25px;
  bottom: 25px;
  color: #fff;
}

