<div class="filter-container container">
  <mat-button-toggle-group #group="matButtonToggleGroup" color="primary">
    <mat-button-toggle value="left">
      Personal
    </mat-button-toggle>
    <mat-button-toggle value="center">
      All
    </mat-button-toggle>
    <mat-button-toggle value="right">
      Project
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="example-selected-value">Selected value: {{group.value}}</div>
  <hr>
</div>

<ng-container *ngIf="projects">
  <div class="projects-container container">
    <project-disclaimer *ngFor="let project of projects" [project]="project"></project-disclaimer>
  </div>
</ng-container>

<ng-container *ngIf="tasks">
 <div class="tasks-container">
   <task *ngFor="let task of tasks" [task]="task"></task>
 </div>
</ng-container>



